.btcontainer {
  @include text-font;
  min-height: 100vh;
  position: relative;
  padding: 60px .25rem 330px .25rem;
  @include media-breakpoint-up('sm') {
    padding: 60px 0 250px 0;
  }
  @include media-breakpoint-up('md') {
    padding-bottom: 200px;
  }
  @include media-breakpoint-up('lg') {
    padding-bottom: 150px;
  }
}

.alert-bt-primary {
  background-color: lighten($gold, 10%);
}

.alert-bt-info {
  background-color: lighten($gold, 30%);
}

h1.home {
  margin: 0;
  font-size: 1rem;
}

h1.heading {
  @include  text-font;
  text-align: center;
  margin: 1rem 0;
  font-size: 1.4rem;
}

h2 {
  @include text-font;
  @include text-outline(white);
  text-align: center;
}

.hidden {
  display: none;
}

.box-shadow {
  border: none;
  box-shadow: 0 0 3px #1e1e1e;
}

.fas.fa-spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: .3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes clicked {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

.bt-btn {
  border: none;
  cursor: pointer;
  position: relative;
  padding: .25rem .75rem;
  &:focus {
    outline: none;
    animation: clicked .5s;
  }
  &--block {
    width: 100%;
  }
  @each $btn-type, $btn-styles in $btns {
    &--#{$btn-type} {
      $bg-color: map_get(map_get($btns, $btn-type), 'bg-color');
      $color: map_get(map_get($btns, $btn-type), 'color');
      background-color: $bg-color;
      background-image: linear-gradient(transparent, rgba(0,0,0,.3));
      color: $color;
      transition: background-color .1s ease-in-out;
      &:hover {
        background-color: darken($bg-color, 10%);
        color: $color;
        text-decoration: none;
      }
    }
  }
}

.bt-underline {
  position: relative;
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: darken($gold, 5%);
    transform-origin: left;
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  &:hover {
    text-decoration: none;
    &::after {
      transform: scaleX(1);
    }
  }
  &.current {
    &::before {
      content: '';
      display: block;
      width: 100%;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: lighten(grey, 20%);
    }
  }
}

.button-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

.mediatext {
  display: flex !important;
  flex-direction: column;
  @include media-breakpoint-up(md) {
    flex-direction: row;
    align-items: center;
  }
  &>figure {
    order: 2;
    margin: 0;
    @include media-breakpoint-up(md) {
      order: 0;
      flex: 1;
      max-width: 400px;
      margin: 16px 40px;
    }
    &>img {
      width:100%;
    }
  }
  &>div {
    order: 1;
    @include media-breakpoint-up(md) {
      padding: 0 8px !important;
      order: 0;
      flex:1 ;
    }
  }
}