.btcontainer {
  @include text-font;
}

h2 {
  @include title-font;
  @include text-outline(white);
  text-align: center;
}

.hidden {
  display: none;
}

.box-shadow {
  border: none;
  box-shadow: 0 0 3px #1e1e1e;
}

.fas.fa-spinner {
  animation: spin 1s infinite linear;
}

@keyframes spin {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  50% {
    transform: rotate(180deg);
    opacity: .3;
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes clicked {
  0% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.05);
  }
}

.bt-btn {
  border: none;
  cursor: pointer;
  position: relative;
  padding: .25rem .75rem;
  &:focus {
    outline: none;
    animation: clicked .5s;
  }
  &--block {
    width: 100%;
  }
  @each $btn-type, $btn-styles in $btns {
    &--#{$btn-type} {
      $bg-color: map_get(map_get($btns, $btn-type), 'bg-color');
      $color: map_get(map_get($btns, $btn-type), 'color');
      background-color: $bg-color;
      background-image: linear-gradient(transparent, rgba(0,0,0,.3));
      color: $color;
      transition: background-color .1s ease-in-out;
      &:hover {
        background-color: darken($bg-color, 10%);
        color: $color;
        text-decoration: none;
      }
    }
  }
}