//Marck Script https://fonts.google.com/specimen/Marck+Script?selection.family=Marck+Script
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
//PT Sans https://fonts.google.com/?query=c&selection.family=Raleway
@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
//Great Vibes https://fonts.google.com/specimen/Great+Vibes?selection.family=Great+Vibes
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');