{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block title %}{{ 'Mot de passe perdu'|gTrans }}{% endblock %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
<p class="col-12 alert alert-pink">
{{ 'resetting.check_email'|trans({'%tokenLifetime%': tokenLifetime})|nl2br }}
</p>
{% endblock %}
