.carousel-indicators li::before,
.carousel-indicators li::after
{
    content: none;
}
.carousel-indicators li,
.carousel-indicators li.active
{
    background-color: transparent;
}
.carousel-indicators li img
{
    position: absolute;
    top: -25px;
    left: 0;
    border: solid 1px #4b4b4b;
}
.carousel-indicators li img
{
    opacity: .7;
    transition-property: all;
    transition-duration: .3s;
}
.carousel-indicators li.active img
{
    opacity: 1;
    transform: scale(1.1);
}