/* General */
.bg-belatika
{
    /*background-image: linear-gradient( #222, #343A40);*/
    background-color: #222;
}
.border-bottom-belatika
{
    border-bottom: 3px solid #222;
}

.shining:hover
{
    background-image: radial-gradient(circle at center, rgb(64, 64, 64) 10%, #222 20%);
    background-size: 200% 200%;

}

h1
{
    text-align:center;
    font-family: '../fonts/amazone-bt.ttf', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 5px #c073ac, -1px -1px 3px white;
}

h4
{
    color:pink;
}

.belatika-link
{
    color: #993366;
    font-weight: 500;
    font-style: italic;
}

.belatika-link:hover
{
    text-decoration: none;
    color:#C073AC;
}

.belatika-light-link
{
    color: pink;
    font-weight: 500;
    font-style: italic;
}

.belatika-light-link:hover
{
    text-decoration: none;
    color:#C073AC;
}

.underline
{
    border-bottom: 1px solid pink;
    border-radius: 0 0 10px 10px;
}
/* Header */

#belatika-header
{
    border-radius: .25rem .25rem 0 0;
}

img.belatika-logo
{
    width: 100%;
    margin: auto;
    max-height: 66px;
    max-width: 300px;
}

/* belatika-menu */

.belatika-menu
{
    background-color:#222;

}
.belatika-menu a
{
    color: pink;
}

.belatika-menu a:first-child
{
    flex: 1;
}
.belatika-menu div:last-child
{
    flex: 5;
}

.belatika-menu .dropdown-menu
{
    background-color: #222;
}