/* General */
.container
{
    min-width: 310px !important;
}

body
{
    /*background-image: radial-gradient(circle at center, rgba(102, 102, 127, 0.7), rgba(255, 255, 255, 0.7));*/
    background-color: white;
}
.flex-1
{
    flex: 1;
}
strong
{
    /*color: deeppink;*/
    color: black;
    font-size: 1.1em;
    text-shadow: 2px 2px 2px white;
}
.bg-belatika
{
    /*background-color: #222;*/
    background-color: white;
}

.text-pink
{
    /*color: pink;*/
    color: white;
}

.text-black
{
    /*color: #222;*/
    color: black;
}

/* Table responsive */
.table-responsive tr, .table td
{
    display: block;
}

.table-responsive thead
{
    display: none;
}

.table-responsive tr
{
    border: solid 2px rgba(47, 79, 79, .5);
    border-radius: 5px;
    margin: 8px 0;
}

.table-responsive td
{
    text-align: right;
    border-color: rgba(47, 79, 79, .3);
    min-height: 48px;
}

.table-responsive td:first-child
{
    border:0;
}

.table-responsive td::before
{
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

.alert-sales
{
    border-color: #ffdbe1;
    /*background: linear-gradient(to right, transparent 0%, orchid 50%, transparent 80%);*/
    background: linear-gradient(to right, transparent 0%, #DEB887 50%, transparent 80%);
    background-size: 200% 200%;
    animation: sales 3s ease infinite;
    font-weight: bold;
}

@keyframes sales {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

@-webkit-keyframes sales {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

@-webkit-keyframes moveLight {
    0%{background-position:0 25px}
    50%{background-position:100% 25px}
    100%{background-position:0 25px}
}

.shining
{
    /*background-image: radial-gradient(ellipse at center, rgb(64, 64, 64) 10%, #222 20%);*/
    /*background-size: 200% 100%;*/
    /*background-repeat: no-repeat;*/
    /*animation: moveLight 10s infinite ease-in-out;*/
}

h1
{
    text-align:center;
    font-family: '../fonts/amazone-bt.ttf', sans-serif;
    font-weight: bold;
    /*text-shadow: 2px 2px 5px #c073ac, -1px -1px 3px white;*/
    text-shadow: 2px 2px 5px #c0b7b8, -1px -1px 3px white;
}

h3
{
    /*color:pink;*/
    color:black;
}

.belatika-link
{
    /*color: #993366;*/
    color: #5f3f27;
    font-weight: 500;
    font-style: italic;
}

.belatika-link:hover
{
    text-decoration: none;
    /*color:#C073AC;*/
    color: #8e7151;
}

.belatika-light-link
{
    /*color: pink;*/
    color: white;
    font-weight: 500;
    font-style: italic;
}

.belatika-light-link:hover
{
    text-decoration: none;
    /*color:#C073AC;*/
    color: #bfbfbf;
}

.underline
{
    /*border-bottom: 1px solid pink;*/
    /*border-bottom: 1px solid #DEB887;*/
    /*border-radius: 0 0 10px 10px;*/
}

.form-error ul
{
    list-style-type: none;
    margin: 0;
    color: red;
    font-weight: bold;
}

/* Header */

#belatika-header
{
    border-radius: .25rem .25rem 0 0;
}

img.belatika-logo
{
    width: 60%;
    margin: auto;
    max-height: 66px;
    max-width: 300px;
}
.logo-link
{
    text-align: center;
}

/* belatika-menu */

.belatika-menu
{
    padding: 0;
}
.belatika-menu a
{
    /* color: pink; */
    color: black;
}
.navbar-toggler
{
    /*border-color: pink;*/
    border-color: white;
    /*color: pink;*/
    color: white;
    position: absolute;
    top: -50px;
}
.navbar-toggler.left-toggler
{
    left: 10px;
}
.navbar-toggler.right-toggler
{
    right: 10px;
    font-size: 1rem;
    padding: 8px;
}

.username
{
    /*color: pink;*/
    color: white;
}

.notification-badge::after
{
    display: block;
    /*border: 1px solid pink;*/
    border: 1px solid white;
    background-color: #222;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    line-height: 26px;
    text-align: center;
}

/*footer*/

.logo-paypal
{
    padding: 0 8%;
}

.about
{
    list-style-type: none;
    padding-left: 0;
}
/*page d'accueil*/
.welcome-text
{
    font-size: .8em;
    font-weight: bold;
    font-family: '../fonts/amazone-bt.ttf', sans-serif;
}
#view-more-toggler.view-more
{
    font-family: '../fonts/Calibri.ttf',sans-serif;
    color: black;
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    font-size: .9em;
}
a.view-more:visited
{
    color:black;
}
.item-thumbnail
{
    width: 250px;
}
.item-thumbnail figcaption
{
    position: relative;
}
.item-thumbnail img
{
    border: solid 10px white;
}
.item-name
{
    color:black;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
.original-price + .price
{
    background-color: yellow;
    color:black;
    font-weight: bold;
    padding: 3px;
    border-radius:5px;
}
.original-price
{
    text-decoration: line-through;
    font-weight: bold;
    color:gray;
    padding: 3px;
}
.price
{
    font-weight: bold;
    /*color:pink;*/
    color:white;
    background-color:#222;
    padding: 3px;
    border-radius:5px;
    white-space: nowrap;
}
.item-price
{
    border:1px black solid;
    padding:3px;
    border-radius: 5px;
    font-weight: bold;
}
.item-thumbnail .cart-button
{
    position: absolute;
    top: -34px;
    left: 53px;
}
/*descriptions articles*/

.card-item
{
    height: 100%;
}
.card-item h2
{
    color:#222;
    font-size:1rem;
}
.card-item .card-header
{
    /*background-color:pink;*/
    background-color: transparent;
    opacity: .8;
}
.card-item .card-body
{
    /*border: 5px pink solid;*/
    opacity: .8;
    /*color:white;*/
    color:black;
}

.card-item .card-footer
{
    /*background-color: pink;*/
    background-color: transparent;
    opacity: .8;
}
.btn-belatika-dark
{
    background-color: #222;
    /*color:pink;*/
    color:white;
    transition-property: all;
    transition-duration:.3s;
    border-width: 2px;
}
.btn-belatika-dark:hover
{
    /*background-color: pink;*/
    background-color: white;
    color:#222;
    border: 2px black solid;
}
.btn-belatika-light
{
    background-color: #D4C1CB;
    color:#222;
    transition-property: all;
    transition-duration:.3s;
    border-width: 2px;
}
.btn-belatika-light:hover
{
    background-color: #222;
    color:#D4C1CB;
    border: 2px #D4C1CB solid;
}
.article-view
{
    margin-bottom: 0;
}
hr
{
    /*border-color: pink;*/
    border-color: white;
    opacity: .3;
}

.alert-pink
{
    /*background-color: rgba(255, 192, 203, .3);*/
    background-color: transparent;
    border:2px black solid;
    color:black;
}
.bloc-belatika
{
    border: 2px black solid;
    /*background-color: rgba(255, 192, 203, .3);*/
    background-color: white;
}
.bloc-belatika h2
{
    font-size:20px;
}

.belatika-content
{
    padding-bottom:50px;
}
/* cart-button */
.cart-button *
{
    pointer-events: none;
}
.add-item,
.remove-item
{
    display: none;
}
.cart-button[data-cart-action="add"] .add-item,
.cart-button[data-cart-action="remove"] .remove-item
{
    display: inline-block;
}
.cart-button .fas.fa-spinner,
#cart-item-list .fas.fa-spinner
{
    display: none;
}
.cart-button.spinning .fas.fa-spinner,
#cart-item-list .spinning.fas.fa-spinner
{
    display: inline-block;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

/*request content*/
.belatika-content h2
{
    font-size:1.5rem;
}

.belatika-content h3
{
    font-size:1.3rem;
}

.bloc-belatika-dark
{
    background-color: #222;
    /*border: 2px pink solid;*/
    /*color: pink;*/
    color: white;
    padding-bottom: 15px;
}
.bloc-belatika-dark .btn-belatika-dark
{
    /*border-color: pink;*/
}

/* Pagination */
nav#pagination ul.pagination
{
    justify-content: center;
}

nav#pagination ul.pagination li.page-item .page-link
{
    /*color: pink;*/
    color: white;
    background-image: linear-gradient( #222, #343A40);
    border-color: darkgrey;
}

nav#pagination ul.pagination li.page-item .page-link:hover
{
    background-image: linear-gradient( #343A40, darkslategrey);
}

nav#pagination ul.pagination li.page-item.active .page-link
{
    /*border-color: orchid;*/
    border-color: black;
    /*background-color: #c073ac;*/
    background-color: white;
    background-image: none;
    /*color: #222;*/
    color: black;
    font-weight: bold;
}


/*responsive*/

@media (min-width: 576px) {
    .navbar-toggler.left-toggler
    {
        left: 30px;
    }
    .navbar-toggler.right-toggler
    {
        right: 30px;
    }
    img.belatika-logo
    {
        width: 100%;
    }
    .belatika-menu
    {
        border-radius: 0 0 .25rem .25rem;
        padding: 8px 16px;
        margin-bottom: 24px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .logo-paypal
    {
        padding: 0 4%;
    }

    .table-responsive thead
    {
        display: table-header-group;
    }

    .table-responsive tr
    {
        border: 0;
        border-radius: 0;
        margin: 0;
        display: table-row;
    }

    .table-responsive td, .table-responsive td:first-child
    {
        text-align: left;
        display: table-cell;
        border-top: 1px solid #dee2e6
    }

    .table-responsive td::before
    {
        display: none;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #navbarNavRightDropdown
    {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    #navbarNavRightDropdown > ul > li
    {
        position: absolute;
        top: -72px;
    }
    #navbarNavRightDropdown > ul > li:first-child
    {
        left: 10px;
    }
    #navbarNavRightDropdown > ul > li:last-child
    {
        right: 10px;
    }
    .username
    {
        color: #222;
    }

    .menu-user
    {
        /*background-color: rgba(255, 192, 203, .5);*/
        background-color: rgba(255, 255, 255, .5);
        border-radius: .5rem;
        margin-right: 8px;
        border: solid 1px #CCC;
        transition-property: background-color;
        transition-duration: .3s;
    }
    .menu-user i
    {
        padding: 4px;
        color: #222;
    }
    .menu-user::after
    {
        color: #222;
    }
    .menu-user:hover,
    .menu-cart i:hover
    {
        /*background-color: pink;*/
        background-color: white;
    }
    .menu-cart
    {
        padding: 0;
        display: flex;
    }
    .menu-cart > a > i
    {
        padding: 12px;
        color: #222;
        /*background-color: rgba(255, 192, 203, .5);*/
        background-color: rgba(255, 255, 255, .5);
        border-radius: .5rem 0 0 .5rem;
        border: solid 1px #CCC;
        transition-property: background-color;
        transition-duration: .3s;
    }
    .menu-cart .cart-content
    {
        position: relative;
        border-radius: 0 .5rem .5rem 0;
        border: solid 1px #CCC;
        border-left: none;
        font-weight: bold;
        transition-property: background-color;
        transition-duration: .3s;
    }
    .cart-content > a
    {
        text-decoration: none;
        padding: 6px;
        height: 100%;
    }
    .menu-cart .cart-content:hover,
    .cart-content:hover > a
    {
        /*background-color: rgba(255, 192, 203, .5);*/
        background-color: rgba(255, 255, 255, .5);
        color: #222;
    }
    .cart-remove
    {
        /*color: pink;*/
        color: white;
        padding: 4px 6px;
        border-radius: 50%;
    }
    .cart-remove:hover
    {
        color: #222;
    }
    #cart-item-badge
    {
        position: absolute;
        right: -15px;
        bottom: -15px;
    }
    #cart-item-badge::after
    {
        content: attr(data-item-count);
    }
    #cart-item-badge[data-item-count="0"]
    {
        display: none;
    }
    #cart-item-list
    {
        position: absolute;
        border-radius: 0.5rem;
        /*border: 1px solid pink;*/
        border: 1px solid white;
        margin: 0;
        padding: 0;
        top: 40px;
        list-style-type: none;
        right: 0;
        z-index: 100;
        display: none;
    }
    #cart-item-list:empty
    {
        display: none;
    }
    .cart-content:hover #cart-item-list
    {
        display: block;
    }
    #cart-item-list > li
    {
        white-space: nowrap;
    }
    #cart-item-list > li > a
    {
        display: block;
        padding: 4px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}