{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block meta_title %}Administration{% endblock %}
{% block title %}Administration{% endblock %}
{% block head %}{{ encore_entry_script_tags('app_admin_index') }}{% endblock %}
{% block content %}
    <div id="admin-menu">
        <a href="{{ path('app_admin_items') }}" class="admin-link-access">Articles</a>
        <a href="{{ path('app_admin_settings') }}" class="admin-link-access">Réglages du site</a>
    </div>
{% endblock %}