{% extends "layout.html.twig" %}
{% block title %}Administration{% endblock %}
{% block content %}
    <h1 class="col-12">Administration</h1>
    <div id="admin-menu">
        <a href="{{ path('app_admin_settings') }}" class="admin-link-access">Réglages du site</a>
    </div>
{% endblock %}