{% extends "/layout.admin.html.twig" %}
{% block meta_title %}Edition article{% endblock %}
{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/dist/suneditor.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/suneditor@latest/src/lang/fr.js"></script>
{% endblock %}
{% block content %}
    {% form_theme form 'form/admin-form.html.twig' %}
    <div class="w-100">
        <h1 class="heading--1">Modifier l'article de blog</h1>
        {{ form(form) }}
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const editor = SUNEDITOR.create((document.getElementById('blog_article_content')),{
                lang: SUNEDITOR_LANG['fr'],
                width: '100%',
                minHeight: '500px',
                buttonList: [
                    ['undo', 'redo'],
                    ['font', 'fontSize', 'formatBlock'],
                    ['bold', 'underline', 'italic', 'strike', 'fontColor', 'hiliteColor', 'removeFormat'],
                    ['outdent', 'indent', 'align'],
                    ['list', 'link', 'image', 'video'],
                    ['fullScreen', 'showBlocks', 'codeView', 'preview']
                ],
                imageSizeOnlyPercentage: true,
                imageRotation: false,
                imageUploadHeader: {
                    "Access-Control-Allow-Origin": "*"
                },
                imageUploadUrl: '{{ absolute_url(path('app_admin_blog_upload')) }}'
            });

            editor.onChange = function (contents, core) {
                editor.save();
            };
        });
    </script>
{% endblock %}