$item-breakpoint: 'md';

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media-breakpoint-up($item-breakpoint) {
    flex-direction: row;
  }
  max-width: 1400px;
  margin: 36px auto 80px auto;
  padding: 30px 0;
  position: relative;
  &__border {
    display: none;
    @include media-breakpoint-up($item-breakpoint) {
      display: block;
    }
    position: relative;
    overflow: hidden;
    border: none;
    width: 70px;
    height: auto;
    margin: -30px 0;
    align-self: stretch;
    background-image: url("./pebbles.jpg");
    background-attachment: fixed;
    opacity: .6;
    &::before {
      content: '';
      position: absolute;
      display: block;
      width: 120%;
      top: 0;
      height: 100%;
    }
    &::before {
      left: -10%;
      background: linear-gradient(to right,white 15%, transparent 25%, transparent 75%, white 85%);
    }
  }
  &__content {
    z-index: 5;
    flex: 1;
    &__description {
      &__image {
        @include media-breakpoint-up(sm) {
          float: left;
          width: 30%;
          margin: 0 1.5rem;
        }
        position: relative;
        &::after {
          @include white-filter;
        }
        & img {
          width: 100%;
        }
        & .carousel {
          min-height: 430px;
        }
      }
      &__text {
        line-height: 2rem;
        font-family: Georgia, serif;
        text-align: justify;
        padding: 0 1.5rem;
      }
    }
    &__price {
      display: flex;
      justify-content: flex-end;
      align-items: baseline;
      padding: 0 1rem;
      &__value {
        font-size: 4rem;
        color: $gold;
        @include price-font;
        &--original {
          color: #999;
          text-decoration: line-through;
          font-style: italic;
          margin: 0 12px;
        }
        &--discount {
          flex: 1;
          color: $gold;
          transform: rotate(-15deg);
          text-align: center;
          font-size: 3.5rem;
          @include price-font;
          @include text-outline(#000);
        }
      }
    }
    &__reference {
      text-align: right;
      font-style: italic;
      padding: 0 1rem;
      color: #BBB;
    }
    &__cart {
      text-align: center;
      & button {
        margin: 16px 0;
        @include title-font;
        font-size: 1.5rem;
        @include media-breakpoint-up(sm) {
          float: right;
        }
      }
    }
  }
}

.carousel-indicators li::before,
.carousel-indicators li::after
{
  content: none;
}
.carousel-indicators li,
.carousel-indicators li.active
{
  background-color: transparent;
}
.carousel-indicators li img
{
  position: absolute;
  top: -25px;
  left: 0;
  border: solid 1px #4b4b4b;
}
.carousel-indicators li img
{
  opacity: .7;
  transition-property: all;
  transition-duration: .3s;
}
.carousel-indicators li.active img
{
  opacity: 1;
  transform: scale(1.1);
}