.popup {
  background-color: white;
  border-radius: .5rem;
  padding: 24px;
  position: relative;
  max-width: 90%;
  &__heading {
    @include title-font;
    font-size: 2rem;
    font-weight: bold;
  }
  &__img {
    margin: 16px 40px;
    max-width: 100%;
    & img {
      width: 100%;
    }
  }
  &__footer {
    margin-bottom: -16px;
  }
  &__text {
    line-height: 2rem;
  }
  .fas.fa-times-circle {
    position: absolute;
    top: -.5rem;
    right: -.5rem;
    font-size: 1.5rem;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 1.8rem;
    height: 1.8rem;
    background-color: white;
    cursor: pointer;
    transition: transform .2s ease-in-out;
    &:hover {
      transform: rotate(90deg);
    }
  }
}

.macaron {
  position: relative;
  display: inline-block;
  font-size: 3rem;
  border-radius: 50%;
  padding: 1rem;
  transform: skew(-8deg);
  color: white;
  background-color: rgba(236, 39, 221, 0.8);
  box-shadow: 3px 2px 5px rgba(0,0,0,.3);
  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 20px;
    display: block;
    border-radius: 50%;
  }
  &::after {
    background-color: rgba(65, 215, 203, 0.8);
    height: 16px;
    top: 10%;
    left: 5%;
  }
  &::before {
    background-color: rgba(15, 177, 35, 0.8);
    height: 24px;
    bottom: 5%;
    right: 5%;
  }
}