.w-100
{
  width: 100%;
}

.heading--1
{
  margin: -.1rem -.2rem 0.75rem -.1rem;
  background-color: cadetblue;
  box-shadow: 0 3px 10px cadetblue;
  color: white;
  padding: 0 .75rem .25rem .75rem;
}

.text-right {
  text-align: right;
}