{% extends "layout.html.twig" %}
{% block title %}{{ 'Handcrafted jewelry creations'|trans }}{% endblock %}
{% block content %}
    <h1 class="text-center text-info">{{ 'Handcrafted jewelry creations'|trans }}</h1>
    {{ include('modules/items.html.twig') }}
{% endblock %}