{% extends "layout.html.twig" %}
{% block title %}{{ 'Créations artisanales de bijoux'|gTrans }}{% endblock %}
{% block content %}
    <h1>{{ 'Créations artisanales de bijoux'|gTrans }}</h1>
    {{ include('modules/items.html.twig') }}
{% endblock %}