{% extends "/layout.html.twig" %}
{% block meta_title %}{{ 'Résultats de recherche'|gTrans }}{% endblock %}
{% block title %}{{ 'Résultats de recherche'|gTrans }}{% endblock %}
{% block content %}
    {{ include('/modules/items.html.twig') }}
    {% if items|length == 0 %}
        <div class="container">
            <p class="alert alert-bt-info">{{ "Aucun résultat ne correspond à votre recherche" }}</p>
        </div>
    {% endif %}
{% endblock %}