.btfooter {
  display: flex;
  justify-content: space-around;
  &__about {
    width: 20%;
    &__list {
      list-style-type: none;
      padding: 0;
      & li {
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: block;
          margin-right: 10px;
          padding: 8px;
          background-image: url("./belatika.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
        & a {
          color: #999;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  &__follow {
    width: 20%;
  }
  &__payment {
    &--stripe {
      width: 20%;
      & img {
        width: 100%;
      }
    }
    &--paypal {
      width: 15%;
      & img {
        width: 100%;
      }
    }
  }
}