$footer-breakpoint: 'sm';

.btfooter {
  display: flex;
  padding: 0 16px;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0;
  width: 100%;
  @include media-breakpoint-up($footer-breakpoint) {
    flex-direction: row;
    padding: 0;
  }
  justify-content: space-around;
  &__about {
    width: 100%;
    @include media-breakpoint-up($footer-breakpoint) {
      width: 20%;
    }
    &__list {
      list-style-type: none;
      padding: 0;
      & li {
        display: flex;
        align-items: center;
        &::before {
          content: '';
          display: block;
          margin-right: 10px;
          padding: 8px;
          background-image: url("./belatika.png");
          background-size: contain;
          background-repeat: no-repeat;
        }
        & a {
          color: #999;
          &:hover {
            color: black;
          }
        }
      }
    }
  }
  &__follow {
    width: 100%;
    &__logos {
      text-align: center;
    }
    @include media-breakpoint-up($footer-breakpoint) {
      width: 20%;
    }
  }
  &__payment {
    &--stripe {
      width: 50%;
      @include media-breakpoint-up($footer-breakpoint) {
        width: 20%;
      }
      & img {
        width: 100%;
        max-width: 200px;
      }
    }
    &--paypal {
      width: 50%;
      @include media-breakpoint-up($footer-breakpoint) {
        width: 15%;
      }
      & img {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}