.navbar {
  @include media-breakpoint-up(lg) {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__item {
    font-size: 1.5rem;
    padding: 4px 12px;
    &:focus {
      outline: none;
    }
    &--search {
      @include media-breakpoint-up(lg) {
        grid-column-start: 5;
      }
    }
    &--cart {
      position: relative;
      &::after {
        content: attr(data-quantity);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gold;
        color: white;
        box-shadow: 0 0 2px black;
        font-size: 16px;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        bottom: 0;
        left: 10px;
      }
      &:hover .cart-hover {
        opacity: 1;
        pointer-events: auto;
      }
    }
    &__cart-hover {
      padding: 6px 12px;
    }
  }
  a {
    color: black;
  }
  &-collapse {
    &-absolute {
      position: absolute;
      background-color: white;
      width: 100%;
      top: 100%;
      left: 0;
      z-index: 11;
      @include media-breakpoint-up(lg) {
        position: static;
        background-color: inherit;
        width: auto;
        top: auto;
        left: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 9;
      }
    }
  }
}

.nav-item a::after {
  transform: rotate(-90deg);
  transition: transform .2s;
}

.nav-item.show a::after {
  transform: rotate(0);
}

$search-size: 20px;
.bt-search {
  margin:0;
  position: relative;
  display: flex;
  cursor: pointer;
  &__button {
    line-height: $search-size * 2;
    z-index: 2;
    position: absolute;
    padding-left: 10px;
  }
  &__input {
    z-index: 1;
    border: none;
    padding-left: $search-size * 2;
    height: $search-size * 2;
    outline: none;
    border-radius: $search-size * 2;
    width: $search-size * 2;
    font-size: 1rem;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    &.box-shadow {
      opacity: 1;
    }
  }
}