.navbar {
  @include media-breakpoint-up(lg) {
    display: grid;
    padding: 0;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  &__item {
    font-size: 1.5rem;
    padding: 4px 12px;
    &:focus {
      outline: none;
    }
    &--search {
      max-width: 90px;
      @include media-breakpoint-up(lg) {
        grid-column-start: 5;
      }
    }
    &--cart {

    }
  }
  a {
    color: black;
  }
  &-collapse {
    &-absolute {
      position: absolute;
      background-color: white;
      width: 100%;
      top: 100%;
      left: 0;
      z-index: 11;
      @include media-breakpoint-up(lg) {
        position: static;
        background-color: inherit;
        width: auto;
        top: auto;
        left: auto;
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 9;
      }
    }
  }
}

.nav-item a::after {
  transform: rotate(-90deg);
  transition: transform .2s;
}

.nav-item.show a::after {
  transform: rotate(0);
}

$search-size: 15px;
.bt-search {
  margin:0;
  position: relative;
  cursor: pointer;
  &__button {
    position: relative;
    z-index: 102;
  }
  &__input {
    position: absolute;
    right: -7px;
    top: -2px;
    max-width: calc(100vw - 110px);
    z-index: 101;
    border: none;
    padding: 0 $search-size * 2 0 $search-size;
    height: $search-size * 2;
    outline: none;
    border-radius: $search-size * 2;
    font-size: 1rem;
    background-color: white;
    box-shadow: 0 0 3px #1e1e1e;
    transform: scaleX(0);
    transform-origin: right;
    opacity: 0;
    transition: all .2s ease-in-out;
  }
  &.expanded {
    & .bt-search__input {
      transform: scaleX(1);
      opacity: 1;
    }
  }
}