<footer class="rounded mt-2 bg-belatika row">
    <div class="col-6 col-md-3">
        <h4>A propos de Belatika</h4>
        <p><a href='https://belatika.com/web/cgv.pdf' target='_blank' class="belatika-link">Conditions générales de vente et mentions légales</a></p>
        <p><a href="mailto:contact@belatika.com" class="belatika-link">contact@belatika.com</a></p>
    </div>
    <div class="col-6 col-md-3">
        <h4>Suivez-moi</h4>
        <figure>
            <a id="facebook-follow" href="https://www.facebook.com/Zazou.belatika" target="_blank" class="belatika-link"><img src="{{ asset('img/ressources/FaceBook.png') }}" alt="Visiter sur Facebook"></a>
            <a href="https://www.instagram.com/belatikabijoux/" target="_blank" class="belatika-link"><img src="{{ asset('img/ressources/instagram.png') }}" alt="Visiter sur Instagram"></a>
        </figure>
    </div>
    <div class="col-6 col-md-3">
        <img src="{{ asset('img/ressources/paypal-logo.png') }}" alt="Paiements sécurisés par Paypal" class="img-fluid" title='Paiements sécurisés par Paypal'>
    </div>
    <div class="col-6 col-md-3">
        <p><a href="#" class="belatika-link">Voir le blog du site </a></p>
        <p><a href="#" class="belatika-link">Voir les avis des clients</a></p>
        <span>Note du site à intégrer</span>
    </div>
</footer>