<header id="belatika-header" class="mx-3 mb-4 px-3 py-2 d-flex justify-content-center bg-belatika shining">
    <a href="{{ path('app_shop_index') }}" class="logo-link" id="logo-link">
        <img src="{{ asset('img/ressources/logo.png') }}" alt="Logo Belatika" class="text-center belatika-logo element">
    </a>
</header>