{% extends shop_settings.template ~ "/layout.admin.html.twig" %}
{% block meta_title %}Administration{% endblock %}
{% block title %}Administration{% endblock %}
{% block content %}
    <div><a class="btn btn-sm bt-btn--primary m-2" href="{{ path('app_admin_items') }}">Articles</a></div>
    <div><a class="btn btn-sm bt-btn--primary m-2" href="{{ path('app_admin_settings') }}">Réglages du site</a></div>
    <div><a class="btn btn-sm bt-btn--primary m-2" href="{{ path('app_admin_testmail', {'reference' : 25}) }}">Exemple Mail</a></div>
    <div><a class="btn btn-sm bt-btn--primary m-2" href="{{ path('app_admin_orders') }}">Validation cde</a></div>
{% endblock %}