.dashboard-item {
  box-shadow: 0 0 1px black;
  margin: 1px;
  padding: .5rem;
  border-radius: .125rem;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0 3px black;
  }
  &__heading {
    background-color: $gold;
    margin: -.5rem -.5rem 0 -.5rem;
    text-align: center;
    font-weight: bold;
    color: #2c2c2c;
    line-height: 1.5rem;
    font-family: Georgia, serif;
  }
  &__content {
    margin: 0 -.5rem -.5rem -.5rem;
    padding: .25rem;
  }
  &__pagination {
    padding: .25rem;
    margin: 0 -0.5rem -0.5rem -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &__current {
      margin: 0 1rem;
    }
  }
}

.dashboard-table {
  & a {
    font-size: .75rem;
  }
  input, textarea {
    border: 1px dashed rgba(0,0,0,.3);
    border-radius: .25rem;
    padding: .125rem;
  }
  &__image {
    width: 120px;
    figure {
      margin: 0;
    }
    input {
      width: 120px;
      box-sizing: border-box;
    }
  }
  &__number {
    input {
      width: 50px;
    }
  }
  td {
    vertical-align: top;
    label {
      display: block;
    }
  }
}

table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

table.striped-rows {
  & tr:nth-child(2n) {
    background-color: #e6ebec;
  }
}

.admin-form-group {
  &>label {
    display: block;
    padding: .25rem;
  }
  &>textarea {
    width: 100%;
  }
  &>input{
    border: dashed 1px rgba(0,0,0,.3);
    padding: .25rem;
    width: 100%;
  }
}