{% extends "layout.html.twig" %}
{% block title %}{{ 'Récapitulatif de votre commande'|gTrans }}{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
    <h1 class="col-12">{{ 'Récapitulatif de votre commande'|gTrans }}</h1>
{%  endblock %}