<div id="{{ form.images.vars.prototype.vars.id }}" class="sr-only">
    <input type="file" id="{{ form.images.vars.prototype.file.vars.id }}" name="{{ form.images.vars.prototype.file.vars.full_name }}" accept="image/*" >
</div>