<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <title>{% block meta_title %}{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        .container {
            margin: auto;
            max-width: 600px;
            padding: 0 16px;
        }
        .header {
            text-align: center;
        }
        .heading--1 {
            font-size: 1.1rem;
            font-weight: normal;
        }
        .heading--2 {
            font-size: 1.1rem;
            font-weight: normal;
            text-decoration: underline;
        }
        .text-left {
            text-align: left;
        }
        .text-right {
            text-align: right;
        }
        .btn {
            display: inline-block;
            border-radius: .75rem;
            text-decoration: none;
            border: none;
            cursor: pointer;
            position: relative;
            padding: .25rem .75rem;
            background-image: linear-gradient(transparent, rgba(0,0,0,.3));
        }
        .btn-gold {
            color: white;
            background-color: #abaa68;
            transition: background-color .2s ease-in-out;
        }
        .btn-gold:hover {
            background-color: #919059;
        }
        footer {
            margin: 18px 0;
        }
        {% block style %}{% endblock %}
    </style>
</head>
<body>
<div class="container">
    <div class="header">
        <img src="https://belatika.com/img/cache/thumb/img/resources/belatika_logo.png" alt="logo">
    </div>
    <h1 class="heading--1">{% block title %}{% endblock %}</h1>
    {% block content %}{% endblock %}
    <footer>
        ---------------<br/>
        {{ "Ceci est un mail automatique"|gTrans }}.
    </footer>
</div>
</body>
</html>
