{% extends "layout.html.twig" %}
{% block head %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/leaflet/1/leaflet.css"/>
    <link rel="stylesheet" href="{{ asset('css/address.css') }}">
{% endblock %}
{% block title %}{{ 'Gérer mes adresses'|gTrans|capitalize }}{% endblock %}
{% block content %}
    <h1 class="col-12">{{ 'Gérer mes adresses'|gTrans|capitalize }}</h1>
    {% include 'modules/address.html.twig' with { validate : { url : path('app_user_address'), name : 'Enregistrer' }, back : { url : path('fos_user_profile_show'), name : 'Retour' }} %}
{% endblock %}

{% block javascripts %}
    {{ block('javascripts', 'modules/address_js.html.twig') }}
{% endblock %}