{% extends shop_settings.template ~ "/layout.html.twig" %}
{% block head %}
    {{ block('head', 'modules/address/head.html.twig') }}
{% endblock %}
{% block title %}{{ 'Gérer mes adresses'|gTrans|capitalize }}{% endblock %}
{% block content %}
    <h1 class="col-12">{{ 'Gérer mes adresses'|gTrans|capitalize }}</h1>
    {% include 'modules/address/content.html.twig' with {
        validate : { url : path('app_user_address'), name : 'Enregistrer' },
        back : { url : path('fos_user_profile_show'), name : 'Retour' }
    } %}
{% endblock %}

{% block javascripts %}
    {{ block('javascripts', 'modules/address/javascripts.html.twig') }}
{% endblock %}